body{
    background: white;
}

.navbar-inverse{
    background: #404040;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: ;
}


div {
    text-align: justify;
    padding: 0px 10px

}


